.container{
    margin-bottom: 100px;
}
.bgcolor{
    background-color:  #fceae8;

}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}

.bn{
    background-color: #FF136F;
    color: white;
    border: none;
    border-radius: 8px;
    padding:9px 25px ;
    cursor: pointer;

}